# Directorio de dependencias de Composer
/vendor/

# Configuración de entorno
.env

# Archivos de configuración del IDE
/.idea/
/.vscode/

# Archivos de caché y logs
/cache/
/logs/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp
*.swo
*.bak

# Archivos de compilación o distribución
/dist/
/build/